<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow my-3">
                <h3 class="text-center card-title pt-3">New Campground</h1>
                    <div class="card-body">
                        <form action="/campgrounds" method="post" novalidate class="validated-form"
                            enctype="multipart/form-data">
                            <div class="mb-3">
                                <label class="form-label" for="title">Title</label>
                                <input class="form-control" type="text" id="title" name="campground[title]" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3 custom-file">
                                <label class="form-label custom-file-label" for="location">Location</label>
                                <input class="form-control" type="text" id=" location" name="campground[location]"
                                    required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="description">Description</label>
                                <textarea class="form-control" type="text" id=" description"
                                    name="campground[description]" required></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="price" class="form-label">Price</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="price-label">$</span>
                                    <input type="text" class="form-control" id="price" placeholder="0"
                                        name="campground[price]" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="image">Image</label>
                                <input class="form-control" type="file" name="image" id="image" multiple>
                            </div>
                            <div class="mb-2">
                                <button class="btn btn-success">Add a Campgorund</button>
                                <a class="btn btn-danger" href="/campgrounds">Cancel</a>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>