<% layout('layouts/boilerplate') %>

    <h1>Profile page</h1>

    <p>
        Username: <%= currentUser.username %>
    </p>
    <p>
        Email: <%= currentUser.email %>
    </p>

    <div class="container">

        Published campgrounds:
        <div class="row">
            <% for (let campground of campgrounds) { %>
                <% if (campground.author.equals(currentUser._id)) { %>
                    <div class="col-4">
                        <div class="card">
                            <%= campground.title %>
                        </div>
                    </div>
                    <% } %>
                        <% } %>
        </div>

    </div>